:root{
    --primary-color:#6096B4;
    --secondary-color:#93BFCF;
    --third-color:#EEE9DA;
    --fourth-color:#BDCDD6;
}



.logo-img{
    height: 90px;
    padding: 0;
    margin: 0;
    margin-top: -18px;
    margin-left:-30px;
    margin-bottom: -12px;
}

.navbar{
    background-color: var(--primary-color) !important;
}
.navlink:active{
    font-weight: bolder !important;
    
}
.mf{
    font-family: 'Permanent Marker', cursive;
    color: var(--secondary-color);
}
.sf{
    color:#100c00 ;
    
}
body{
    background: var(--third-color);
}
.bt{
    background-color:var(--secondary-color) !important;
}
.bt:hover{
 background-color: var(--fourth-color) !important;
}
.nav-link{
    color: white !important;
}
.nav-link:active{
    text-decoration: underline;
}
.carousel-control-prev-icon  {
    background-color:var(--primary-color);
}
.carousel-control-next-icon{
    background-color: var(--primary-color);
}
.scst{
    color:var(--primary-color);
}
.active{
    font-weight: bolder;
}
.pdb{
    padding-bottom: 2rem !important;
}
.card{
    background-color: var(--third-color) !important;
    border: none;
}
@media (min-width:319px)and (max-width:480px){
   .card{
    margin-left: 2.5rem !important;
   }
  }

  @media (min-width:418px) and (max-width:1200px){
   .card{
    margin-left: 5rem;
   } 
  }
  @media (min-width:1201px) and (max-width:1600px){
   .card{
    margin-left:0.99rem;
   }

  }