:root{
    --primary-color:#6096B4;
    --secondary-color:#93BFCF;
    --third-color:#EEE9DA;
    --fourth-color:#BDCDD6;
}



.logo-img{
    height: 90px;
    padding: 0;
    margin: 0;
    margin-top: -18px;
    margin-left:-30px;
    margin-bottom: -12px;
}

.navbar{
    background-color: var(--primary-color) !important;
}
.navlink:active{
    font-weight: bolder !important;
    
}
.mf{
    font-family: 'Permanent Marker', cursive;
    color: var(--secondary-color);
}
.sf{
    color:#100c00 ;
    
}
body{
    background: var(--third-color);
}
.bt{
    background-color:var(--secondary-color) !important;
}
.bt:hover{
 background-color: var(--fourth-color) !important;
}
.nav-link{
    color: white !important;
}
.nav-link:active{
    text-decoration: underline;
}